# Configuración del servidor FTP
FTP_HOST=calilu.mooo.com
FTP_USER=CALILU5
FTP_PASSWORD=tu_password_aqui
FTP_PORT=21

# Puerto del servidor (Railway lo asigna automáticamente)
PORT=3001

# Entorno (development | production)
NODE_ENV=development
